:root{
    --first: #284b63;
    --second: #282f44;
    --third: #93ffc7;
    --forth: #cdcdcd;
    --fifth: #76e5ac;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--forth);
    background-color: #191d32;
}

.container {
    background-color: var(--second);
    padding: 18px;
    border: 4px #76e5ac solid;
}

header {
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    background-color: #191d32;
    color: var(--third);
    height: 300px;
}

.row .col h1 {
    font-family: 'Montserrat', Helvetica;
    font-size: 72px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--third);
    margin: 235px auto -5px -5px !important;
    text-shadow: 8px 5px var(--second) !important;
}

section .row .col p {
    margin: 20px auto;
    font-size: 25px;
}

h3#media-title {
    font-family: 'Montserrat', Helvetica;
    font-size: 48px;
    font-weight: bold;
    color: var(--third);
    text-shadow: 8px 5px #191d32 !important;
}

p {
    line-height: 2rem;
}

strong {
    font-weight: bold;
}

/* form customization */

.input-field label, .input-field .prefix ~ input {
    color: var(--forth);
}

input[type=text]:focus#search-media + label, .input-field .prefix.active {
    color: var(--fifth) !important;
}

.input-field input[type=text]:focus#search-media {
    border-bottom: 1px solid var(--fifth) !important;
    box-shadow: 0 1px 0 0 var(--fifth) !important;
    color: var(--forth);
}

form.input-field :focus#search-media {
    color: var(--third) !important;
}

.select-wrapper input.select-dropdown {
    color: var(--forth);
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid var(--fifth) !important;
    box-shadow: 0 1px 0 0 var(--fifth) !important;
}

.dropdown-content {
    background-color: #eee;
}

.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
    color: rgba(0,0,0,0.3) !important;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: var(--first) !important;
}

button#submit-btn.btn, #clear-btn, #clear-history-btn {
    background-color: transparent;
    border: 1px solid var(--third);
    border-radius: 5px;
    transition: all 0.5s ease 0s;
    color: var(--third);
}

button#submit-btn.btn:hover, #clear-btn:hover {
    background-color: var(--third);
    color: var(--second);
}

/* search history */

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    list-style: none;
}

ul li#tv-list, ul li#mov-list, ul li#book-list {
    margin: 0 5px;
    padding: 5px 15px;
    background-color: var(--fifth);
    border: 1px solid var(--fifth);
    border-radius: 5px;
    transition: all 0.5s ease 0s;
    color: var(--second);
    font-size: 0.9em;
}

ul li#tv-list:hover, ul li#mov-list:hover, ul li#book-list:hover {
    background-color: transparent;
    color: var(--fifth);
    cursor: pointer;
}

button#clear-history-btn {
    background-color: transparent;
    border: 1px solid var(--third);
    border-radius: 10px;
    transition: all 0.5s ease 0s;
    color: var(--third);
}

button#clear-history-btn:hover {
    background-color: var(--third);
    color: var(--second);
}

/* media image results */

.media-art img.tv-results, .media-art img.mov-results {
    display: block;
    float: right;
    padding-right: 30px;
}

.media-art img.book-results {
    display: block;
    float: right;
    padding-right: 30px;
    height: 460px;
}

img {
    display: inline-block;
    position: relative;
    right: 10px;
    bottom: 2px;
}

/* footer customization */

footer div.container {
    background-color: #191d32 !important;
    color: var(--third);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 20px 0;
    width: 100%;
}

/* Mobile Responsive Data */

@media screen and (max-width: 835px) {
    /* fixes img resolution, font size, search and media input need to stack, buttons below */
 }
 
 @media screen and (max-width: 550px) {
    /* fixes img resolution, font size off title and section.p , search and media input need to stack, buttons below */
 }
 /* responsive screen end */