:root{
    --first: #92542e;
    --second: #dcb596;
    --third: #e4e1db;
    --forth: #b57837;
    --fifth: #8e7c54;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/main-bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

p {
    color: #222;
    background-color: transparent;
}

label.text{
    color: var(--third);
}

/*

input[type=text]:focus#search-media  + label {
    background-color: #eee;
    color: #333;
}

input[type=text]:focus#search-media  + label {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 #000;
}

.input-field label {
    color: var(--third);
  } */

header {
    background-color: var(--first);
    color: var(--third);
    width: 100%;
    margin-bottom: 0;
}

button#submit-btn.btn, #clear-btn {
    background-color: var(--third);
    color: var(--forth);
}

button#submit-btn.btn:hover, #clear-btn:hover {
    color: var(--second);
}

.container {
    background-color: var(--second);
    padding: 15px 15px;
    z-index: 2;
}

/* div#init.init{
    background-color: var(--second);
    margin: 0;
    padding: 0;
} */

img {
    display: inline-block;
    position: relative;
    right: 10px;
    bottom: 2px;
}

label.active, .select-dropdown, label{
    color: var(--third);
}

div.input-field, input, .question{
    background-color: transparent;
    color: var(--third);
}

h1 {
    font-family: 'Montserrat', Helvetica;
    left: 1.5rem;
    top: 0.2rem;
}
/*
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    background-color: var(--third);
    border: none;
    border-radius: 10px;
    height: 5rem;
    width: 100%;
}

ul li.search-history{
    padding-top: 26px;
    padding-left: 10px;
}

ul li a {
    margin: 0;
    padding: 7px 15px;
    transition: all 0.5s ease 0s;
    background-color: var(--fifth);
    color: var(--third);
    border-radius: 10px;
    font-size: 0.9em;
}

ul li a:hover {
    background-color: var(--first);
    color: #eee;
}
*/

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    list-style: none;
}

ul li#tv-list, ul li#mov-list, ul li#book-list {
    margin: 0 5px;
    padding: 7px 15px;
    transition: all 0.5s ease 0s;
    color: #333;
    background-color: #d5ecd4;
    border-radius: 5px;
    font-size: 0.9em;
}

ul li#tv-list:hover, ul li#mov-list:hover, ul li#book-list:hover {
    background-color: #c3dac3;
    color: #777;
    cursor: pointer;
}

.media-art img.tv-results, .media-art img.mov-results {
    display: block;
    float: right;
    padding-right: 30px;
}

.media-art img.book-results {
    display: block;
    float: right;
    padding-right: 30px;
    height: 460px;
}

footer {
    background-color: var(--forth);
    color: var(--third);
    font-family: 'yeseva one', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 20px;
}

span {
    margin: 0%;
    padding: 0%;
}